html {
	background-color: #FFFFFF;
}
body {
	margin:0;
}

h1 {
	color: white;
	margin: 0;
	background-color: #08244D;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.submitform {
	margin: auto;
	margin-top: 15px;
	border-radius: 15px;
	width: 60%;
	background-color: #023681;
	color: white;
	padding: 10px 30px 30px 30px;
}

.formhead {
	text-align: center;
}

.isiform {
	margin-left: 30%;
}

.kirim {
	text-align: center;
}